<article>
    <h2> Edit Post</h2>
    <form class="edit-post-form">
        <div>
            <input name="post-title" type="text" id="post-title" value="{{post.title}}" />
            <textarea name="post-text" id="post-text">{{post.post_text}}</textarea>
        </div>
        <button type="submit">Save Post</button>
        <button type="button" class="delete-post-btn">Delete post</button>
    </form>
</article>

<form class="comment-form">
    <div>
        <textarea id="comment-body" name="comment-body"></textarea>
    </div>

    <div>
        <button id="comment-btn" type="submit">Add comment</button>
    </div>
</form>

{{> comments post.comments}}

<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>
<script src="/javascript/add-comment.js"></script>